@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Merriweather:wght@300&family=Special+Elite&display=swap');
/* 
font-family: 'Bevan', cursive;
font-family: 'Merriweather', serif;
font-family: 'Special Elite', cursive; 
*/

:root
{
    font-family: 'Special Elite', cursive; 
    --dirty: #e0c9a6;
    --tan:   #f3dfc1;
    --orangy:#f3cea1;
    --beige: #e0c9a6;
    --dark:  #1a1c1a;
}

html
{
    background: #fafafa;
    color: #2c2c2c;
    box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 0 300px 25px rgba(222,198,122,0.7) inset;
}

header{
    width: 100%;
    font-family: 'Merriweather', serif;
    /* background-color: rgb(98, 7, 22); */
}

body {
    /* background-color: pink; */
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#leftColumn
{
    display: inline-block;
    vertical-align: top;
    background-color: aliceblue;
    margin-top: 30px;
    transform: rotate(3deg);
    border: 1px solid black; 
    border-radius: 5px;
    width: 230px;
    box-shadow: -4px 4px 24px rgb(41, 41, 41);
    top: 20px;
    position: sticky;
    position: -webkit-sticky;

}

#rightColumn
{
    
    display: inline-block;
    padding: 0 30px;
    width: calc(100% - 310px);
    font-size: 1.15rem;
    /* background-color: blue; */
    /* position: relative; */
    /* margin: 0px 0 0 auto; */
    /* float: right; */
}

/* Title and Subheading */
#contentName {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0px;
    text-decoration: solid underline 5px black;
}

#contentNameSubheading {
    text-align: center;
    margin-top: 0px;
}

/* Headshot and Socials */
#headshotContainer {
    width: 220px;
    margin: 5px auto;
    border-radius: 20px 20px 10px 10px;
}
#contentHeadshot
{
    border-radius: 15px 15px 0 0;
    filter: grayscale(100%) contrast(275%);
    -webkit-filter: grayscale(100%)  contrast(275%);
    -moz-filter: grayscale(100%) contrast(275%);

}

#headshotContainer figcaption {
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
}
.socials 
{
    padding: 3px;
    width: 32px;
    border-radius: 10px;;
    /* background-color: pink; */

}

.socials img
{
    width: 32px;
}

.socials:hover
{
    background-color: rgb(197, 197, 197);
}
#contentHeadshot {
    width: 100%;
}

/* Sections */

.sectionHeader {
    font-size: 1.8rem;
    font-family: 'Bevan', cursive;
    /* background-color: red; */
    color: #000000;
    text-shadow: 1px 2px 4px rgb(255, 233, 143);
    margin: 45px 0 0 0;
    border-bottom: 1px solid black;
}
.content
{
    margin-left: 30px;
    text-align: justify;
}
.content p
{
    text-indent: 20px;
}
li
{
    list-style-type: '-';
}

.table, td, th
{
    border:1px solid black
}
.table
{
    margin: 10px 0 0 30px;
    /* border-collapse: collapse; */
}
#contentExpTable tr:nth-child(odd) td
{
    padding: 4px 4px 4px 15px;
    font-weight: bold;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.151);
    
}

#contentExpTable tr td ul
{
    margin: 5px 0;
    padding-left: 25px;
    /* background-color: rgb(168, 2, 2); */
}
ul li
{
    margin-bottom: 7px;
    /* background-color: #e0c9a6; */
}

#navTitle 
{
    margin-left:15px; 

}
h4{
    margin-bottom: 0;
}

a
{
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 90);
}
a:hover
{
    text-decoration: underline;
}

.projectLinks:visited
{
    color: darkred;
}
.navLinks a:link
{
    color: black;
    padding: 4px;
    background-color: none;
    text-decoration: none;
}
#navUl ul li a:hover
{
    color: black;
    text-decoration: underline;
    font-size: 1.1rem;
    background-color: transparent;
}

#navUl ul li a:visited 
{
    /* text-decoration: line-through */
    /* font-weight: lighter; */
    
    color: rgb(0, 0, 208);
}
#contentEduTable td
{
    padding: 5px;

}

@media (max-width: 900px)
{
    /* html {
        background-color: red;
    } */
    #leftColumn
    {
        /* background-color: red; */
        display: block;
        margin: auto;
        transform: rotate(0deg);
        width: 90%;
        position: relative;
        padding: 10px;
        margin-bottom: 30px;
        
    }
    
    #headshotContainer
    {
        margin: 5px;
        display: inline-block;
        border: 1px solid black;
        width:45%;
        background-color: rgb(216, 216, 216);
    }
    #navUl
    {
        margin-right: 0;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        /* background-color: rebeccapurple; */
        width: 45%;
    }

    .content
    {
        margin-left: 10px;
        text-align: justify;
    }
    #rightColumn
    {
        
        /* display: inline-block; */
        margin: 0 auto;
        padding: 0 30px;
        width: 85%;
    }
    .table, td, th
    {
        border:1px solid black
    }
    .table
    {
        margin: 5px 0 0 5px;
        font-size: 0.88rem;
        max-width: 85%;
    }
    #contentExpTable tr:nth-child(odd) td
    {  
        padding: 2px 2px 2px 7px;
        font-weight: bold;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.151);
        font-size: 0.9rem
    }

    #contentExpTable tr td ul
    {
        margin: 10px 0;
        padding-left: 15px;
        font-size: 0.88rem
        /* background-color: rgb(168, 2, 2); */
    }
}